doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        //- meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script 
            include graph.js
        script(src="https://d3js.org/d3.v3.min.js")
        script(src="https://mauriciopoppe.github.io/function-plot/js/function-plot.js")
        style 
            include graph.css
        title plot
    body(onload="plot();")
        div#plot
            #myFunction