.container{
    padding: 0;
    margin: 0;
    background-color: #c4c4c4;
    width: 900px;
    margin: 0 auto;
}
header{
    margin: 0;
}
header h1{
    font-family: 'Times New Roman', Times, serif;
    color: aqua;
    font-variant: small-caps;
    width: 100%;
}
header h2, .education h2, .experiences h2, .favourites h2, footer h2{
    font-family: 'Times New Roman', Times, serif;
    color: purple;
    font-variant: small-caps;
    width: 100%;
}
h3{
    border: 2px dashed yellow;
    width: 100%;
}
.education, .experiences, .favourites{
    border: 4px solid yellow;
    padding:0px 40px;
    margin: 10px;
}
.education > div, .experiences > div, .favourites div{
    border: 1px aqua solid;
}
.education > div h4, .experiences > div  h4, .favourites div h4{
    border-bottom: 2px solid aqua;
    padding-bottom: 10px;
}