footer
  .footer
    .logo
      a.logo__img(href="#logo")
          img(src="images/header/Logo.svg")
    .cols
      .cols-1
        a(href="#").cols__link Voice over and Subtitle
        a(href="#").cols__link Media Center
        a(href="#").cols__link Privacy
        a(href="#").cols__link Contact us   
      .cols-2
        a(href="#").cols__link Voice Description
        a(href="#").cols__link Investor Relations
        a(href="#").cols__link Legal Provisions
      .cols-3
        a(href="#").cols__link Help Center
        a(href="#").cols__link Job Opportunities
        a(href="#").cols__link Cookies Preferences
      .cols-4
        a(href="#").cols__link Gift Cards
        a(href="#").cols__link Terms of Use
        a(href="#").cols__link Corporate Informations