header
    .logo
        a.logo__img(href="#logo")
            img(src="images/header/Logo.svg")

    nav
        ul.nav
            li.nav-item
                a(href='#Home').nav-link.active Home
            li.nav-item
                a(href='#tv-shows').nav-link TV Shows
            li.nav-item
                a(href='#Movies').nav-link Movies
            li.nav-item
                a(href='#series').nav-link Series

    ul.icons
        li.icons__item
            a.icons__search(href="#logo")
                img(src="images/header/search.svg")
        li.icons__item
            a.icons__notification(href="#logo")
                img(src="images/header/notification.svg")
        li.icons__item
            a.icons__account(href="#logo")
                img(src="images/header/account.svg")